body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.green{
  color: #0ff
}

.red{
  color: #f0a
}

.content{
  display: grid;

  grid-template-areas: 

  "list button";

  grid-auto-rows:  1fr;
  grid-auto-columns: 3fr 1fr;
  grid-gap: 5px; 
}


.list{
  grid-area: list;
}

.button{
  position: center;
  grid-area: button;

}